.age-disclaimer {
    padding: $section-padding;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(1, 59, 11);
    color: white;
}

.age-disclaimer_title {
    font-size: $subtitle-1-font-size;
    font-family: $title-font-family;
    padding-bottom: 3vh;
}