.booking-button {
    color: white;
    background-color: rgb(1, 59, 11);
    text-decoration: none;
    font-weight: bold;
    line-height: 38px; 
    padding: 10px 28px;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 1px;
    display: inline-block;
}

.booking-button:hover {
    background-color: rgb(2, 105, 19);
}

.booking-button:visited {
    color: white;
}

.body_booking-button {
    position: fixed;
    bottom: 16px;
    right: 20px;
    font-size: 35px;
    z-index: 10;
}