// Font-size
$title-font-size: 30pt;
$subtitle-1-font-size: 18pt;
$subtitle-2-font-size: 15pt;
$text-font-size: 12pt;

//Font family
$title-font-family: "DM Serif Display";
$text-font-family: "Darker Grotesque";

//Color Palate
$main-color: #E3F2F3;
$secondary-color: #E3D0A8;
$third-color: #191919;
$fourth-color: #F7F7F7;
$light-color: #FFFFFF;
$dark-color: #000000;

// Section Colors
$background-color: $fourth-color;
$header-background-color: $light-color;

//Padding
$section-padding: 1.5em;