// Font-size
$title-font-size: 30pt;
$subtitle-1-font-size: 40pt;
$subtitle-2-font-size: 20pt;
$text-font-size: 18pt;

//Font family
$title-font-family: "Caprasimo";
$text-font-family: "Darker Grotesque";

//Color Palate
$main-color: #fff1f9;
$secondary-color: #013b0b;
$secondary-color--light: #026913;
$third-color: #edfff0;
$fourth-color: rgb(208, 241, 255);
$light-color: #FFFFFF;
$dark-color: #000000;

// Section Colors
$header-background-color: $light-color;

//Padding & Margin
$section-padding: 1.5em;
$section-margin: 5vh;