.contact {
    display: flex;
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    justify-content: center;
    width: 100%;
}

.contact_title {
    font-size: $subtitle-1-font-size;
    font-family: $title-font-family;
    width: 50%;
}

.contact_form {
    width: 42%;
    padding-right: 8%;
}

.contact_form form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
        font-family: $text-font-family;
        font-size: $text-font-size;
        border: none;
        border-bottom: $dark-color 1px solid;

        :focus {
            border: $dark-color 1px solid;
        }
    }

    ::placeholder {
        color: $dark-color;
    }
}

.contact_form button {
    background-color: $secondary-color;
    color: $light-color;
    font-size: $subtitle-2-font-size;
    margin-top: $section-padding;
    border: 0;
    padding: 1% 3%;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .contact_form button {
        width: 100%;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact_title {
        width: 100%
    }

    .contact_form {
        width: 92%;
        padding: 0%;
    }
}

.contact_form button:hover {
    background-color: $secondary-color--light;
}