.contact {
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    padding: $section-padding;
    justify-content: center;
}

.contact_title {
    font-size: $subtitle-1-font-size;
    font-family: $title-font-family;
}

.contact_form form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
        background-color: $main-color;
        font-family: $text-font-family;
        font-size: $text-font-size;
        border: none;
        border-bottom: $dark-color 1px solid;

        :focus {
            border: $dark-color 1px solid;
        }
    }

    ::placeholder {
        color: $dark-color;
    }
}

.contact_form button {
    background-color: $dark-color;
    color: $light-color;
}