.cover {
    margin-bottom: $section-margin;
    height: 80vh;
    width: 100%;
}

.cover_title {
    position: relative;
    height: 100%;
    z-index: 7;
    font-family: $title-font-family;
    font-size: 60pt;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(255,255,255,.5);
    padding-right: 10%;
}

.cover_background {
    display: flex;
    align-items: stretch;
    position: absolute;
    width: 100%;
}

.cover_image {
    display: flex;
    align-items: stretch;
    height: 80vh;
    width:100vw;
}

@media screen and (max-width: 915px) {
   .cover_title {
        align-items: center;
   }
}