.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: $header-background-color;
}

.header-logo {
    font-family: $title-font-family;
}

.header_link-wrapper {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.header a {
    text-decoration: none;
}

.header a:visited {
    color: black;
}