.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: $header-background-color;
}

.header-logo {
    font-family: $title-font-family;
    width: 400px;
}

.header_link-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.header_link {
    text-decoration: none;
    color: black;
}

.header_link:visited {
    color: black;
}

@media screen and (max-width: 950px) {
    .header_link {
        display: none;
    }
    
    .header_link-wrapper {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 530px) {  
    .header_link-wrapper {
        display: none;
    }
}