.instruments {
    background-color: $light-color;
    padding: $section-padding;
}

.instruments_title {
    font-size: $subtitle-1-font-size;
    font-family: $title-font-family;
}

.instruments_subtitle {
    font-size: $subtitle-2-font-size;
}

.instruments_list {
    display: flex;
    justify-content: space-evenly;
}

.instruments_list-item_title {
    font-size: $subtitle-2-font-size;
}

.instruments_list-item_text {
    padding: $section-padding;
}

@media screen and (max-width: 600px) {
    .instruments_list {
        flex-direction: column;
    }
}