@import 'constants';

@import 'about';
@import 'age-disclaimer';
@import 'booking-button';
@import 'contact';
@import 'cover';
@import 'header';
@import 'instruments';
@import 'rates';

html {
    scroll-behavior: smooth;
}

body {
    font-size: $text-font-size;
    font-family: $text-font-family;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: $light-color;
}